argparse
numpy
opencv-python
ultralytics
PyYAML
imageio
ffmpeg-python
requests
pandas
pyarrow
sort-tracker

# Pytorch - use Python 3.12
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio